---
import Background from '../sections/Background.astro'
import Footer from '../sections/Footer.astro'
import Header from '../sections/Header.astro'
import '../styles/global.css'
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/webp' href='/logo.webp' />
    <title>Mictlan Collection</title>
    <meta
      name='description'
      content='Explora Mictlan Collection, una colección única de componentes y diseños web'
    />
    <meta
      name='keywords'
      content='Mictlan, colección, diseño web, componentes web'
    />
    <meta property='og:title' content='Mictlan Collection' />
    <meta
      property='og:description'
      content='Explora Mictlan Collection, una colección única de componentes y diseños web.'
    />
    <meta property='og:image' content='/mictlan-logo.webp' />
    <meta
      property='og:url'
      content='https://mictlancollection-dev.netlify.app/'
    />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:title' content='Mictlan Collection' />
    <meta
      name='twitter:description'
      content='Explora Mictlan Collection, una colección única de componentes y diseños web.'
    />
    <meta name='twitter:image' content='/mictlan-logo.webp' />
  </head>
  <body class='relative text-neutral-100'>
    <Background />
    <Header />
    <slot />
    <Footer />
  </body>
</html>
